p{
	color: purple;
	text-align: center;
	margin: 100px;
}
body{
	background-color: #fdf6e4;
}
#nav{
	a{
		color: white;
		&:hover{
			color: #b4881d;
		}
	}
} 
.container{
	margin: 100px;
}
.course-nav{
	background-color: #b4881d;
}
.dropDown{
	
}
.dropButton,.loginButton{
	background-color: #2e8cd0;
	&:hover{
		background-color: #e2dfce;
	}
}