p{
	color: purple;
	text-align: center;
	margin: 100px;
}
body{
	background-color: #fdf6e4;
}
#nav{
	a{
		color: white;
		&:hover{
			color: #b4881d;
		}
	}
} 
#container{
	width: 400px;
    margin: 0 auto;
}
.container{
	height: 80vh;
}
.course-nav{
	// background-color: #b4881d;
	background-color: #93a1a1;
	margin-left: -12px;
	box-shadow: none;
}
.courseInfo a{
	color:#6c73c2;
}
nav .brand-logo.right {
    right: 3.5rem;
}
.loginForm{
	position: absolute;
	width: 30%;
}
.dropButton{
	background-color: #2e8cd0;
	height: 60px;
	width: 200px;
	&:hover{
		background-color: #e2dfce;
	}
}
.dropDown{
	margin-top: 100px;
	padding: 20px;
	position: relative;
	margin-left: 55px
}
.giraffe{
	height: 250px;
	width: 175px;
	position: relative;
	margin-top: -286px;
	margin-left: 362px;
}
.logo{
	position: relative;
	margin-top: -28px;
    margin-left: 384px;	
}
.loginButton{
	position: relative;
    background-color: #2e8cd0;
	&:hover{
		background-color: #e2dfce;
	}
}
#circleDown{
	display: block !important;
    margin-top: -11px;
}
.editBtn,.addAssignment,.sendMessage,.composeMessage,.newEvent{
	background-color: #b4881d;
	margin: 5px;
	&:hover{
		background-color: #e2dfce;
	}
}
.edit{
	background-color: #c94b23 !important;
	margin: 5px;
	padding: 1px;
	height: 28px;
	&:hover{
		background-color: #e2dfce;
	}
}
.editChanges{
	background-color: #c94b23;
	margin: 5px;
	&:hover{
		background-color: #e2dfce;
	}
}
.changes,.add2Calendar{
	background-color: #6c73c2 !important;
	margin: 5px;
	&:hover{
		background-color:#e2dfce;
	}
}
.addAssignmentsButton{
	background-color: #6c73c2;
	margin: 5px;
	&:hover{
		background-color:#e2dfce;
	}
}

.new td{
	font-weight: bold;
}
.messageList,.messageHeader{
	text-align: center;
	margin: auto;
}
.card-panel{
	background-color:#f6f8f9;
	color: #686868 ;
}
.messageList{
	margin: 9px;
}
.logoBlocks{
	height: 100px;
	width:200px;
}
.read td a{
	color: #6c73c2;
}
.studentLink a{
	color: #6c73c2;
}