// p{
// 	color: purple;
// 	text-align: center;
// 	margin: 100px;
// }
body{
	background-color: #fdf6e4;
}
*{
	font-family: 'Roboto', sans-serif;
}
#nav{
	a{
		color: white;
		&:hover{
			color: #b4881d;
		}
	}
} 
#container{ //login page
	width: 500px;
    // margin: 0 auto;
    top: 10%;
  	left: 30%;
    position: absolute;
}
.container{ //calendar
	height: 80vh;
}
.course-nav{
	// background-color: #b4881d;
	background-color: #93a1a1;
	margin-left: -12px;
	box-shadow: none;
}
.courseInfo a{
	color:#6c73c2;
}
nav .brand-logo.right {
    right: 3.5rem;
}
.loginForm{
	position: relative;
	width: 50%;
	margin-left: 51px;
}
.input-field:focus + label {
     color: #000;
}
.input-field label {
     color: #000;
}
.dropButton{
	background-color: #2e8cd0;
	height: 60px;
	width: 200px;
	&:hover{
		background-color: #e2dfce;
	}
}
.dropDown{
	margin-top: 100px;
	padding: 20px;
	position: relative;
	margin-left: 55px
}
.giraffe{
	height: 250px;
	width: 175px;
	position: relative;
	margin-top: -294px;
    margin-left: 300px;
}
.logo{
	position: relative;
	margin-top: -39px;
    margin-left: 320px;	
}
.loginButton{
	position: relative;
    background-color: #2e8cd0;
	&:hover{
		background-color: #e2dfce;
	}
}
#circleDown{
	display: block !important;
    margin-top: -11px;
}
.loginError{
	color: #c94b23; 
	text-align: center;
}
.editBtn,.addAssignment,.sendMessage,.composeMessage,.newEvent{
	background-color: #b4881d;
	margin: 5px;
	&:hover{
		background-color: #e2dfce;
	}
}
.edit{
	background-color: #c94b23 !important;
	margin: 5px;
	padding: 1px;
	height: 28px;
	&:hover{
		background-color: #e2dfce;
	}
}
.editChanges{
	background-color: #c94b23;
	margin: 5px;
	&:hover{
		background-color: #e2dfce;
	}
}
.changes,.add2Calendar{
	background-color: #6c73c2 !important;
	margin: 5px;
	&:hover{
		background-color:#e2dfce;
	}
}
.searchBarInput{
	width: 50%;
}
.addAssignmentsButton{
	background-color: #6c73c2;
	margin: 5px;
	&:hover{
		background-color:#e2dfce;
	}
}

.new td{
	font-weight: bold;
}
.messageList,.messageHeader{
	text-align: center;
	margin: auto;
}
.messageTitle{
	color: #6c73c2;
}
.card-panel{
	background-color:#f6f8f9;
	color: #686868 ;
}
.messageList{
	margin: 9px;
	a{
		color: #6c73c2;
	}
}
.logoBlocks{
	height: 124px;
	width:200px;
	margin-left: 50px;
}
.read td a{
	color: #6c73c2;
}
.studentLink a{
	color: #6c73c2;
}